<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet">
</head>
<body>
<h3>Create Product</h3>
<form th:action="@{/product/create}" method="post" th:object="${product}">
    <table class="table">
        <tr>
            <td>Product Id</td>
            <td><input type="text" th:field = "*{idProduct}"></td>
        </tr>
        <tr>
            <td>Product Code</td>
            <td><input type="text" th:field = "*{codeProduct}"></td>
        </tr>
        <tr>
            <td>Product Name</td>
            <td><input type="text" th:field = "*{nameProduct}"></td>
        </tr>
        <tr>
            <td>Old Price</td>
            <td><input type="text" th:field = "*{oldPrice}"></td>
        </tr>
        <tr>
            <td>New Price</td>
            <td><input type="text" th:field = "*{newPrice}"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><textarea cols="21" rows="5" type="text" th:field = "*{description}"></textarea></td>
        </tr>
        <tr>
            <td>Image Link</td>
            <td><input type="file" th:field = "*{img}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input class="btn btn-primary" type="submit" value="Create product"></td>
        </tr>
    </table>

</form>
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>