<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Provinces</title>
</head>
<body>
<a href="/create-province">Create new province</a>
<h1>Provinces</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="province : ${provinces}">
        <tr>
            <td th:text="${province.name}"></td>
            <td><a th:href="@{/edit-province/__${province.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-province/__${province.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>
View /province/create.html

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create province</title>
</head>
<body>
<h1>Create province</h1>
<p>
    <a href="/provinces">Province list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-province}" th:object="${province}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create province"></td>
        </tr>
    </table>
</form>
</body>
</html>